@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.heroContainer{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.info{
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left:5%;
   font-family: 'Raleway', sans-serif;
}
.info h1{
    font-size:40px
}
.info p{
    font-size:20px;
    margin-left: 10px;
}