@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
.mainContainer{
    width: 60%;
    margin-top: 5%;
    display:flex;
    position:relative;
    margin-bottom:5%;
    height:50vh
}
.friendList, .searchPanel{
    flex:1;
    position: relative;
    flex:1;
    margin:5%;
    border-radius: 14px;

}
.friendList, .searchPanel{
    background-color:rgb(39, 39, 39);
    color:white;
    padding:2.5%;
    overflow-y: scroll;
    box-shadow: 10px 10px  10px rgba(0, 0, 0, 0.37);
}
.friendList::-webkit-scrollbar, .searchPanel::-webkit-scrollbar {
    display: none;
  }
.searchPanel{
    display:flex;
    flex-direction: column;
}
.searchResults{
    position: relative;
    flex:1
}
.nameFont{
    font-family: 'Otomanopee One', sans-serif;
}


@media only screen and (max-width: 1000px){
    .mainContainer{
        width:100%
    }
}